@import "@/scss/variables.scss";

.my-button {
    border: none;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.my-button-primary {
    color: #fff;
    background-color: $PrimaryButtonColor;
    &:hover {
        background-color: $PrimaryButtonHoverColor;
    }
}
.my-button-disabled {
    background-color: #c2c2c2;
    cursor: auto;
    &:hover {
        background-color: #c2c2c2;
    }
}
